.mini-footer {
  background: #192027;
  text-align: center;
  padding: 32px 0;
}

.mini-footer span {
  color: white;
}

.footer {
  padding: 35px 0;
  background: #262b30;
  color: white;
}

.container-list {
  display: flex;
  justify-content: space-around;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
