<div class="footer">
  <div class="row container">
    <div class="col-md-3">
      <img src="assets/images/icon.jpeg">
    </div>
    <div class="col-md-6 col-md-offset-3 container-list">
      <div class="vertical-list">
        <span>Help</span>
        <span>Privacy</span>
        <span>Feedback</span>
        <span>Cl Jobs</span>
      </div>
      <div class="vertical-list">
        <span>Terms</span>
        <span>About</span>
        <span>Mobile</span>
      </div>
    </div>
  </div>
</div>
<div class="mini-footer">
  <span>© 2018 Craiglist. All rights reserved.</span>
</div>
