<div id="banner-home">
  <div class="form-home">
    <form class="form-inline">
      <label class="sr-only" for="Search">Search</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="Search" placeholder="Search">


      <button type="button" class="btn mb-2 mr-sm-2" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseChoices" style="padding: 10px 30px;width: 226px;">
        {{name}}
      </button>
      <!--<label class="sr-only" for="Categories">Category</label>-->
      <!--<input type="text" class="form-control mb-2 mr-sm-2" id="Categories" placeholder="Category">-->

      <label class="sr-only" for="State">State</label>
      <input name="States" placeholder="State" type="text" class="form-control mb-2 mr-sm-2" id="State"
             [(ngModel)]="model"
             [ngbTypeahead]="search"/>


      <button type="submit" class="btn mb-2 btn-craiglist" routerLink="/listing">Submit</button>
    </form>
  </div>
</div>

<div class="container" style="position: relative">
  <div id="collapseChoices" [ngbCollapse]="!isCollapsed">
    <div class="row">
      <div class="col-md-3">
        <h6><a (click)="changeCategory('Community')">Community</a></h6>
        <ul>
          <li><a (click)="changeCategory('Activities')">Activities</a></li>
          <li><a (click)="changeCategory('Artists')">Artists</a></li>
          <li><a (click)="changeCategory('Childcare')">Childcare</a></li>
          <li><a (click)="changeCategory('Local news')">Local news</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 (click)="changeCategory('Services')"><a >Services</a></h6>
        <ul>
          <li><a (click)="changeCategory('Legal')">Legal</a></li>
          <li><a (click)="changeCategory('Lessons')">Lessons</a></li>
          <li><a (click)="changeCategory('Automotive')">Automotive</a></li>
          <li><a (click)="changeCategory('Real Estate')">Real Estate</a></li>
          <li><a (click)="changeCategory('Pet')">Pet</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 (click)="changeCategory('Housing')"><a>Housing</a></h6>
        <ul>
          <li><a (click)="changeCategory('Apts / Housing')">Apts / Housing</a></li>
          <li><a (click)="changeCategory('Housing swap')">Housing swap</a></li>
          <li><a (click)="changeCategory('Housing wanted')">Housing wanted</a></li>
          <li><a (click)="changeCategory('Office / commerciale')">Office / commerciale</a></li>
          <li><a (click)="changeCategory('Real estate')">Real estate</a></li>
          <li><a (click)="changeCategory('Vacation rentals')">Vacation rentals</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 (click)="changeCategory('For sale')"><a>For sale</a></h6>
        <ul>
          <li><a (click)="changeCategory('Automobiles')">Automobiles</a></li>
          <li><a (click)="changeCategory('Boats')">Boats</a></li>
          <li><a (click)="changeCategory('Books')">Books</a></li>
          <li><a (click)="changeCategory('Collectibles')">Collectibles</a></li>
          <li><a (click)="changeCategory('Computers')">Computers</a></li>
          <li><a (click)="changeCategory('Tickets')">Tickets</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6 (click)="changeCategory('Jobs')"><a>Jobs</a></h6>
        <ul>
          <li><a (click)="changeCategory('Accounting / Finance')">Accounting / Finance</a></li>
          <li><a (click)="changeCategory('Business')">Business</a></li>
          <li><a (click)="changeCategory('Books')">Books</a></li>
          <li><a (click)="changeCategory('Customer service')">Customer service</a></li>
          <li><a (click)="changeCategory('Education')">Education</a></li>
          <li><a (click)="changeCategory('Internet')">Internet</a></li>
        </ul>
      </div>


    </div>
  </div>
</div>


<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <div style="margin-top: 25px">
        <label for="exampleFormControlSelect1">Sort by</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Relevant</option>
          <option>Price UP</option>
          <option>Price DOWN</option>
          <option>Date UP</option>
          <option>Date DOWN</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];let i = index" class="col-lg-4 col-md-4" style="margin-top: 25px">
      <section class="box-vehicle-grid" style="margin-bottom:20px;border:1px solid #e6e6e6;">
        <section class="grid-image" style="height:250px;background-image:url('http://via.placeholder.com/350x300');background-size:cover;background-position:center;cursor:pointer;">
          <a style="height:100%;width:100%;display:block;"></a>
        </section>
        <section class="grid-description" style="padding: 20px">
          <div class="row">
            <div class="col-md-12 vehicle-name text-blue-dark" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">
              Item to sell #{{i + 1}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-blue-dark" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-left text-center" style="background:#F2F2F2;padding:10px;">
                <b>
                  $ 19 990
                </b>
              </div>
            </div>
          </div>

        </section>
      </section>
    </div>
  </div>
</div>


