# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
webapp/dist
webapp/dist-server
webapp/tmp
webapp/out-tsc

# dependencies
webapp/node_modules

# IDEs and editors
webapp/.idea
webapp/.project
webapp/.classpath
webapp/.c9/
webapp/*.launch
webapp/.settings/
webapp/*.sublime-workspace

# IDE - VSCode
webapp/.vscode/*
webapp/!.vscode/settings.json
webapp/!.vscode/tasks.json
webapp/!.vscode/launch.json
webapp/!.vscode/extensions.json

# misc
webapp/.sass-cache
webapp/connect.lock
webapp/coverage
webapp/libpeerconnection.log
webapp/npm-debug.log
webapp/yarn-error.log
webapp/testem.log
webapp/typings

# System Files
webapp/.DS_Store
webapp/Thumbs.db
